{
  "extends": ["airbnb", "prettier"],
  "parser": "@babel/eslint-parser",
  "plugins": ["prettier", "jest"],
  "rules": {
    "prettier/prettier": ["error"],
    "import/extensions": [
      "error",
      {
        "js": "always",
        "json": "always"
      }
    ],
    "no-console": "off",
    "no-underscore-dangle": "off",
    "no-restricted-syntax": [
      "error",
      // "ForInStatement",
      // "ForOfStatement",
      "LabeledStatement",
      "WithStatement"
    ],
    "no-multi-str": "off"
  },
  "env": {
    "jest": true,
    "jest/globals": true
  }
}
